.git
.github
.gitignore
.idea
.vscode
.DS_Store

__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
coverage/

.venv/
venv/
env/
node_modules/
dist/
build/
tmp/
*.log

.terraform/
.terraform.lock.hcl
infra/
infra-gcp/
k8s/
images/
